<div class="container">
  <div class="col-md-9">
    <div style="width: 135%;">
      <span class="font-weight-bold text-left p-3 text-primary"
        >Company Information
      </span>
      <span></span>

      <button
        type="button"
        class="btn btn-outline-primary btn-sm pull-right float-right"
        (click)="openCompanyDetails()"
      >
        Edit
      </button>
      <hr class="style1" />
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="myModal"
      role="dialog"
      style="border-radius: 20px; margin-top: 80px;"
    >
      <div class="modal-dialog modal-lg">
        <div
          class="modal-content"
          style="
            border-color: #c0fafc;
            border-style: solid;
            border-radius: 20px;
          "
        >
          <div class="modal-header">
            <h4>Edit company info</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row">
                <label
                  for="inputPassword"
                  class="col-sm-4 col-form-label"
                  style="font-size: 14px; color: rgb(180, 172, 172);"
                  >Company legal name :
                </label>
                <div class="col-sm-5">
                  <input
                    type="text"
                    style="height: 25px;"
                    class="form-control"
                    id="inputPassword"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  for="inputPassword"
                  class="col-sm-4 col-form-label"
                  style="font-size: 14px; color: rgb(180, 172, 172);"
                  >Adress :
                </label>
                <div class="col-sm-5">
                  <input
                    type="text"
                    style="height: 25px;"
                    class="form-control"
                    id="inputPassword"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">
                </label>
                <div class="col-sm-5">
                  <input
                    type="text"
                    style="height: 25px;"
                    class="form-control"
                    id="inputPassword"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="inputPassword"
                  style="font-size: 14px; color: rgb(180, 172, 172);"
                  class="col-sm-4 col-form-label"
                  >city :
                </label>
                <div class="col-sm-5">
                  <input
                    type="text"
                    style="height: 25px;"
                    class="form-control"
                    id="inputPassword"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="inputPassword"
                  class="col-sm-4 col-form-label"
                  style="font-size: 14px; color: rgb(180, 172, 172);"
                  >State :
                </label>
                <div class="col-sm-5">
                  <input
                    type="text"
                    style="height: 25px;"
                    class="form-control"
                    id="inputPassword"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="inputPassword"
                  class="col-sm-4 col-form-label"
                  style="font-size: 14px; color: rgb(180, 172, 172);"
                  >Postal/Zip code :
                </label>
                <div class="col-sm-5">
                  <input
                    type="text"
                    style="height: 25px;"
                    class="form-control"
                    id="inputPassword"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="inputPassword"
                  class="col-sm-4 col-form-label"
                  style="font-size: 14px; color: rgb(180, 172, 172);"
                  >Country :
                </label>
                <div class="col-sm-5">
                  <select
                    class="form-control form-control-sm"
                    style="height: 25px;"
                  >
                    <option>Tunisia</option>
                    <option>Lybia</option>
                    <option>United states</option>
                    <option>United kingdom</option>
                    <option>France</option>
                    <option>Russia</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="inputPassword"
                  class="col-sm-4 col-form-label"
                  style="font-size: 14px; color: rgb(180, 172, 172);"
                  >Fiscal Year Start :
                </label>
                <div class="col-sm-5">
                  <input
                    type="dropbox"
                    style="height: 25px;"
                    class="form-control"
                    id="inputPassword"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="inputPassword"
                  class="col-sm-4 col-form-label"
                  style="font-size: 14px; color: rgb(180, 172, 172);"
                  >Date Of Formation :
                </label>
                <div class="col-sm-5">
                  <input
                    type="dropbox"
                    style="height: 25px;"
                    class="form-control"
                    id="inputPassword"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div>
              <div class="checkbox ml-4 mb-4">
                <label
                  ><input type="checkbox" value="" /> I reviewed and confirmed
                  the changes
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary center-block">
              Submit
            </button>
            <span></span>

            <button
              type="button"
              class="btn btn-outline-primary center-block"
              data-dismiss="modal"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <p
      class="text-left p-1 font-weight-bold"
      style="
        font-size: 14px;
        margin-left: 40px;
        margin-top: 40px;
        color: rgb(180, 172, 172);
      "
    >
      Company Legal Name : <span style="color: black;">{{ company.CompanyLegalName }}</span>
    </p>
    <p
      class="text-left p-1 font-weight-bold"
      style="
        font-size: 14px;
        margin-left: 40px;
        padding-top: 60px;
        color: rgb(180, 172, 172);
      "
    >
      Adress:  <span style="color: black;">{{ company.Address }}</span>
    </p>

    <p
      class="text-left p-1 font-weight-bold"
      style="
        font-size: 14px;
        margin-left: 40px;
        margin-top: 37px;
        color: rgb(180, 172, 172);
      "
    >
      City:   <span style="color: black;">{{ company.City }}</span>
    </p>
    <p
      class="text-left p-1 font-weight-bold"
      style="
        font-size: 14px;
        margin-left: 40px;
        padding-top: 60px;
        color: rgb(180, 172, 172);
      "
    >
      State: <span style="color: black;"> {{ company.State }}</span>
    </p>
    <p
      class="text-left p-1 font-weight-bold"
      style="
        font-size: 14px;
        margin-left: 40px;
        padding-top: 60px;
        color: rgb(180, 172, 172);
      "
    >
      Postal/Zipcode: <span style="color: black;">{{ company.PostalCode }}</span>
    </p>
    <p
      class="text-left p-1 font-weight-bold"
      style="
        font-size: 14px;
        margin-left: 40px;
        padding-top: 60px;
        color: rgb(180, 172, 172);
      "
    >
      Country: <span style="color: black;">{{ company.Country }}</span>
    </p>
    <p
      class="text-left p-1 font-weight-bold"
      style="
        font-size: 14px;
        margin-left: 40px;
        padding-top: 60px;
        color: rgb(180, 172, 172);
      "
    >
      Fiscal Year Start:  <span style="color: black;">{{ company.FiscalYearStart }}</span>
    </p>
    <p
      class="text-left p-1 font-weight-bold"
      style="
        font-size: 14px;
        margin-left: 40px;
        padding-top: 60px;
        color: rgb(180, 172, 172);
      "
    >
      Date of Formation: <span style="color: black;">{{ company.DateOfFormation }}</span>
    </p>
  </div>
</div>
