


    
    
  <div class="row ">


    <div class="col-md-3 ml-2 " >
     
      <div id="accordion">
        <div class="card ml-1 mb-2 ">
          <div class="card-header ml-1 mb-2" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
           
              </button>
              <p  style=" font-size: 12px;   top: 17px; position:absolute;   color:dodgerblue"> Configurations CoreRH</p>
            </h5>
            
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" >
            <hr class="style1">
           
             
              <a href="#" class="dropdown-item" style=" font-size: 12px; ">Informations sur l'entreprise</a>
              <a href="#" class="dropdown-item" style=" font-size: 12px; ">Structure de l'entreprise</a>
              <a href="#" class="dropdown-item" style=" font-size: 12px; ">Jours Fériés de l'Entreprise</a>
              <a href="#" class="dropdown-item" style=" font-size: 12px; ">Classification de l'employé</a>
              <a href="#" class="dropdown-item" style=" font-size: 12px; ">Formulaire RH </a>
              <a href="#" class="dropdown-item" style=" font-size: 12px; ">Demande RH </a>
           
          </div>
        </div>
        <div class="card ml-1 mb-2">
          <div class="card-header ml-1 mb-2" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              </button>
              <p  style=" font-size: 12px;   top: 17px; position:absolute;   color:dodgerblue"> Configurations Congé</p>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion" >
            <hr class="style1">
         
              <a href="#" class="dropdown-item" style=" font-size: 12px; ">Congé d'exercice</a>
              <a href="#" class="dropdown-item" style=" font-size: 12px; ">Congé dédié au évènements</a>
              <a href="#" class="dropdown-item" style=" font-size: 12px; ">Prime de l'ancienneté</a>
              <a href="#" class="dropdown-item" style=" font-size: 12px; ">Congé Package</a>
            
          </div>
        </div>
        <div class="card ml-1 mb-2">
          <div class="card-header ml-1 mb-2" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              </button>
              <p  style=" font-size: 12px;   top: 17px; position:absolute;   color:dodgerblue"> Configurations Paie</p>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion" >
            <hr class="style1">
         
              <a href="#" class="dropdown-item" style=" font-size: 12px; ">Informations générales</a>
              <a href="#" class="dropdown-item" style=" font-size: 12px; ">Paramètres de Paie</a>
              <a href="#" class="dropdown-item" style=" font-size: 12px; ">Déductions Légales</a>
              <a href="#" class="dropdown-item" style=" font-size: 12px; ">Catégories de Paie </a>
              <a href="#" class="dropdown-item" style=" font-size: 12px; ">Calendrier de Paie </a>
            
          </div>
        </div>

        <div class="card ml-1 mb-2">
          <div class="card-header ml-1 mb-2" id="headingfour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapseTwo">
              </button>
              <p  style=" font-size: 12px;   top: 17px; position:absolute;   color:dodgerblue"> Talent Settings</p>
            </h5>
          </div>
          <div id="collapsefour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion" >
            <hr class="style1">
           
              à remplir ! 
         
          </div>
        </div>

        <div class="card ml-1 mb-2">
          <div class="card-header ml-1 mb-2" id="headingfive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapseTwo">
              </button>
              <p  style=" font-size: 12px;   top: 17px; position:absolute;   color:dodgerblue">Time Settings</p>
            </h5>
          </div>
          <div id="collapsefive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion" >
             <hr class="style1">
         
             <a routerLink="{{ '/../companyinfo' }}" routerLinkActive="active"class="dropdown-item " style=" font-size: 12px; " >Company Settings </a>
              <a routerLink="{{ '/../timegeneralsettings' }}" routerLinkActive="active"  class="dropdown-item" style=" font-size: 12px; ">General Settings </a>
              <a routerLink="{{ '/../workandschedule' }}" routerLinkActive="active" class="dropdown-item" style=" font-size: 12px; ">Work and Schedule </a>
              

          </div>
        </div>


      </div>



    </div>
    <div class="container">
    <div class="col-md-9  " >

       
  
      <div style="width: 135%;">


        <span class="font-weight-bold text-left p-3 text-primary ">Company Information </span>
        <span></span>
       
    
      
            

        <button type="button" class="btn btn-outline-primary btn-sm pull-right float-right " data-toggle="modal" data-target="#myModal">
           Edit
          </button>
          <hr class="style1">
</div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog"  style=" border-radius: 20px; margin-top: 80px;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="border-color: #C0FAFC ; border-style: solid; border-radius: 20px;">
        <div class="modal-header">
<h4>Edit company info </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
    
        </div>
        <div class="modal-body">
            <form>
            
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-4 col-form-label" style=" font-size: 14px; color: rgb(180, 172, 172);">Company legal name : </label>
                  <div class="col-sm-5">
                    <input type="text" style="height: 25px;" class="form-control" id="inputPassword">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label"  style=" font-size: 14px; color: rgb(180, 172, 172);">Adress : </label>
                    <div class="col-sm-5">
                      <input type="text" style="height: 25px;" class="form-control" id="inputPassword">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label"> </label>
                    <div class="col-sm-5">
                      <input type="text"  style="height: 25px;" class="form-control" id="inputPassword">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword"   style=" font-size: 14px; color: rgb(180, 172, 172);" class="col-sm-4 col-form-label">city : </label>
                    <div class="col-sm-5">
                      <input type="text" style="height: 25px;" class="form-control" id="inputPassword">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label"  style=" font-size: 14px; color: rgb(180, 172, 172);">State : </label>
                    <div class="col-sm-5">
                      <input type="text" style="height: 25px;" class="form-control" id="inputPassword">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label"  style=" font-size: 14px; color: rgb(180, 172, 172);">Postal/Zip code : </label>
                    <div class="col-sm-5">
                      <input type="text"  style="height: 25px;" class="form-control" id="inputPassword">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label"  style=" font-size: 14px; color: rgb(180, 172, 172);">Country : </label>
                    <div class="col-sm-5">
                      <select class="form-control form-control-sm" style="height: 25px;">
                        <option>Tunisia</option>
                        <option>Lybia</option>
                        <option>United states</option>
                        <option>United kingdom</option>
                        <option>France</option>
                        <option>Russia</option>
                      </select>
                    </div>
                  </div>

                  
                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label"  style=" font-size: 14px; color: rgb(180, 172, 172);">Fiscal Year Start : </label>
                    <div class="col-sm-5">
                      <input type="dropbox" style="height: 25px;" class="form-control" id="inputPassword">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label"  style=" font-size: 14px; color: rgb(180, 172, 172);">Date Of Formation : </label>
                    <div class="col-sm-5">
                      <input type="dropbox" style="height: 25px;" class="form-control" id="inputPassword">
                    </div>
                  </div>
                  
              </form>
        </div>
        <div class="modal-footer">
           <div>
            <div class="checkbox ml-4 mb-4" >
                <label><input type="checkbox" value=""> I reviewed and confirmed the changes </label>
              </div>
           </div>
                <button type="submit"  class="btn btn-primary center-block" >Submit</button>
                <span></span>
        
                <button type="button" class="btn btn-outline-primary center-block "  data-dismiss="modal">Cancel</button>
           
           
          
        </div>
      </div>
    </div>
  </div>

       
   
       
       
           
   
        
    </div>

    <div>
       <p class="text-left p-1  font-weight-bold" style=" font-size: 14px; margin-left: 40px; Margin-top: 40px; color: rgb(180, 172, 172);">Company Legal Name </p>
       <p class="text-left p-1  font-weight-bold" style=" font-size: 14px; margin-left: 40px; padding-top: 60px; color: rgb(180, 172, 172);">Adress </p>

       <p class="text-left p-1  font-weight-bold" style=" font-size: 14px; margin-left: 40px; Margin-top: 37px; color: rgb(180, 172, 172);">City </p>
       <p class="text-left p-1  font-weight-bold" style=" font-size: 14px; margin-left: 40px; padding-top: 60px; color: rgb(180, 172, 172);">State </p>
       <p class="text-left p-1  font-weight-bold" style=" font-size: 14px; margin-left: 40px; padding-top: 60px; color: rgb(180, 172, 172);">Postal/Zipcode  </p>
       <p class="text-left p-1  font-weight-bold" style=" font-size: 14px; margin-left: 40px; padding-top: 60px; color: rgb(180, 172, 172);">Country </p>
       <p class="text-left p-1  font-weight-bold" style=" font-size: 14px; margin-left: 40px; padding-top: 60px; color: rgb(180, 172, 172);">Fiscal Year Start </p>
       <p class="text-left p-1  font-weight-bold" style=" font-size: 14px; margin-left: 40px; padding-top: 60px; color: rgb(180, 172, 172);">Data of Formation </p>

    </div>

   
    </div>

</div>

