<div class="container">
  <div class="col-md-9">
    <div style="width: 135%;">
      <span class="font-weight-bold text-left p-3 text-primary"
        >Company Information
      </span>
      <span></span>

      <button
        type="button"
        class="btn btn-outline-primary btn-sm pull-right float-right"
        (click)="openCompanyDetails()"
      >
        Edit
      </button>
      <hr class="style1" />
    </div>
    
 
  </div>

  <div>
    <p
      class="text-left p-1 font-weight-bold"
      style="
        font-size: 14px;
        margin-left: 40px;
        margin-top: 40px;
        color: rgb(180, 172, 172);
      "
    >
      Company Legal Name : <span style="color: black;">{{ company.CompanyLegalName }}</span>
    </p>
    <p
      class="text-left p-1 font-weight-bold"
      style="
        font-size: 14px;
        margin-left: 40px;
        padding-top: 60px;
        color: rgb(180, 172, 172);
      "
    >
      Adress:  <span style="color: black;">{{ company.Address }}</span>
    </p>

    <p
      class="text-left p-1 font-weight-bold"
      style="
        font-size: 14px;
        margin-left: 40px;
        margin-top: 37px;
        color: rgb(180, 172, 172);
      "
    >
      City:   <span style="color: black;">{{ company.City }}</span>
    </p>
    <p
      class="text-left p-1 font-weight-bold"
      style="
        font-size: 14px;
        margin-left: 40px;
        padding-top: 60px;
        color: rgb(180, 172, 172);
      "
    >
      State: <span style="color: black;"> {{ company.State }}</span>
    </p>
    <p
      class="text-left p-1 font-weight-bold"
      style="
        font-size: 14px;
        margin-left: 40px;
        padding-top: 60px;
        color: rgb(180, 172, 172);
      "
    >
      Postal/Zipcode: <span style="color: black;">{{ company.PostalCode }}</span>
    </p>
    <p
      class="text-left p-1 font-weight-bold"
      style="
        font-size: 14px;
        margin-left: 40px;
        padding-top: 60px;
        color: rgb(180, 172, 172);
      "
    >
      Country: <span style="color: black;">{{ company.Country }}</span>
    </p>
    <p
      class="text-left p-1 font-weight-bold"
      style="
        font-size: 14px;
        margin-left: 40px;
        padding-top: 60px;
        color: rgb(180, 172, 172);
      "
    >
      Fiscal Year Start:  <span style="color: black;">{{ company.FiscalYearStart }}</span>
    </p>
    <p
      class="text-left p-1 font-weight-bold"
      style="
        font-size: 14px;
        margin-left: 40px;
        padding-top: 60px;
        color: rgb(180, 172, 172);
      "
    >
      Date of Formation: <span style="color: black;">{{ company.DateOfFormation }}</span>
    </p>
  </div>
</div>
