<div class="  container4 "  style="border-color: #C0FAFC ; border-style: solid;  border-width: 1.5px; " >
    
    <div class="col-md-12  " >

       
        <br>
            


                <div class="">
                    <div class="row">
                      <div class="col-lg">
                        <span class="font-weight-bold text-left p-3 text-primary  ">Employees Attendance </span>
                      </div>

                      <div class="col-lg" style="text-align: center;">
                        <form class="form-inline active-cyan-4">
                            <input class="form-control form-control-sm ml-4 w-75" type="text" placeholder="Search"
                              aria-label="Search">
                            <i class="fas fa fa-search fa-lg ml-3" aria-hidden="true"></i>
                          </form>
                      </div>

                      <div class="col-lg mr-3">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">All Employees 
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">All Employees </a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Managers</a></li>
                            </ul>
                          </div>
                      </div>
                   
                    </div>
                  </div>
                  <hr class="style1">
                </div>  
   


                <div class=" container6 table-responsive d-none d-sm-block" >
                    <table class="table mr-5 mt-4 " style="margin-right: 20px;">
                           <thead  style="color:white; background-color: #3C7AFF;">
                             <tr>
                               <th scope="col">Employee</th>
                               <th scope="col">Employee ID</th>
                               <th scope="col">Title</th>
                               <th scope="col">Department </th>
                               <th scope="col">Manager </th>
                               
                               
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <th scope="row" class="d-none d-sm-block" style=""> <img src="{{profilepic}}" width="30" height="30" class="rounded-circle" > James Palmeto </th>
                               <td> 12156556</td>
                               <td>Business Analyst</td>
                               <td>James Cheers </td>
                               <td>James Cheers</td>
                               
                             
                               
                             </tr>
                             <tr>
                                <th scope="row" class="d-none d-sm-block" style=""> <img src="{{profilepic}}" width="30" height="30" class="rounded-circle" > James Palmeto </th>
                                <td> 12156556</td>
                                <td>Business Analyst</td>
                                <td>James Cheers </td>
                                <td>James Cheers</td>
                                
                              
                                
                              </tr>
                              <tr>
                                <th scope="row" class="d-none d-sm-block" style=""> <img src="{{profilepic}}" width="30" height="30" class="rounded-circle" > James Palmeto </th>
                                <td> 12156556</td>
                                <td>Business Analyst</td>
                                <td>James Cheers </td>
                                <td>James Cheers</td>
                                
                              
                                
                              </tr>
                              <tr>
                                <th scope="row" class="d-none d-sm-block" style=""> <img src="{{profilepic}}" width="30" height="30" class="rounded-circle" > James Palmeto </th>
                                <td> 12156556</td>
                                <td>Business Analyst</td>
                                <td>James Cheers </td>
                                <td>James Cheers</td>
                                
                              
                                
                              </tr>
                              <tr>
                                <th scope="row" class="d-none d-sm-block" style=""> <img src="{{profilepic}}" width="30" height="30" class="rounded-circle" > James Palmeto </th>
                                <td> 12156556</td>
                                <td>Business Analyst</td>
                                <td>James Cheers </td>
                                <td>James Cheers</td>
                                
                              
                                
                              </tr>
                              <tr>
                                <th scope="row" class="d-none d-sm-block" style=""> <img src="{{profilepic}}" width="30" height="30" class="rounded-circle" > James Palmeto </th>
                                <td> 12156556</td>
                                <td>Business Analyst</td>
                                <td>James Cheers </td>
                                <td>James Cheers</td>
                                
                              
                                
                              </tr>
                              <tr>
                                <th scope="row" class="d-none d-sm-block" style=""> <img src="{{profilepic}}" width="30" height="30" class="rounded-circle" > James Palmeto </th>
                                <td> 12156556</td>
                                <td>Business Analyst</td>
                                <td>James Cheers </td>
                                <td>James Cheers</td>
                                
                              
                                
                              </tr>
                              <tr>
                                <th scope="row" class="d-none d-sm-block" style=""> <img src="{{profilepic}}" width="30" height="30" class="rounded-circle" > James Palmeto </th>
                                <td> 12156556</td>
                                <td>Business Analyst</td>
                                <td>James Cheers </td>
                                <td>James Cheers</td>
                                
                              
                                
                              </tr>
                              <tr>
                                <th scope="row" class="d-none d-sm-block" style=""> <img src="{{profilepic}}" width="30" height="30" class="rounded-circle" > James Palmeto </th>
                                <td> 12156556</td>
                                <td>Business Analyst</td>
                                <td>James Cheers </td>
                                <td>James Cheers</td>
                                
                              
                                
                              </tr>
                              <tr>
                                <th scope="row" class="d-none d-sm-block" style=""> <img src="{{profilepic}}" width="30" height="30" class="rounded-circle" > James Palmeto </th>
                                <td> 12156556</td>
                                <td>Business Analyst</td>
                                <td>James Cheers </td>
                                <td>James Cheers</td>
                                
                              
                                
                              </tr>
                             
                             
                           </tbody>
                         
                         </table>
                            
                   </div>





</div>
