<div class="col-md-9">
  <div
    class="container"
    style="border-color: #c0fafc; border-style: solid; border-width: 1.5px;"
  >
    <p
      class="text-center text-secondary"
      style="font-size: 28px; margin-top: 90px;"
    >
      Bienvenue sur la page de Configuration de l'application ApexiaHR
    </p>
    <p
      class="text-center p-3 text-secondary"
      style="font-size: 14px; margin-top: 120px;"
    >
      Sélectionner le module a configurer dans le menu a gauche de votre écran
      pour accéder au paramètres de configuration du module choisi
    </p>
    <p
      class="text-center p-3 text-secondary"
      style="font-size: 14px; padding-top: 10px;"
    >
      ApexiaHR propose pour chaque module une configuration par défaut que vous
      pouvez utiliser telle quelle ou éditer/modifier pour l'accommoder a votre
      cas précis
    </p>
  </div>
</div>
