<div id="accordion">
  <div class="card ml-1 mb-2">
    <div class="card-header ml-1 mb-2" id="headingOne">
      <h5 class="mb-0">
        <button
          class="btn btn-link collapsed"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        ></button>
        <p
          style="
            font-size: 12px;
            top: 17px;
            position: absolute;
            color: dodgerblue;
          "
        >
          Configurations CoreRH
        </p>
      </h5>
    </div>

    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordion"
    >
      <hr class="style1" />
      <a href="#" class="dropdown-item" style="font-size: 12px;"
        >Informations sur l'entreprise</a
      >
      <a href="#" class="dropdown-item" style="font-size: 12px;"
        >Structure de l'entreprise</a
      >
      <a href="#" class="dropdown-item" style="font-size: 12px;"
        >Jours Fériés de l'Entreprise</a
      >
      <a href="#" class="dropdown-item" style="font-size: 12px;"
        >Classification de l'employé</a
      >
      <a href="#" class="dropdown-item" style="font-size: 12px;"
        >Formulaire RH
      </a>
      <a href="#" class="dropdown-item" style="font-size: 12px;">Demande RH </a>
    </div>
  </div>
  <div class="card ml-1 mb-2">
    <div class="card-header ml-1 mb-2" id="headingTwo">
      <h5 class="mb-0">
        <button
          class="btn btn-link collapsed"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        ></button>
        <p
          style="
            font-size: 12px;
            top: 17px;
            position: absolute;
            color: dodgerblue;
          "
        >
          Configurations Congé
        </p>
      </h5>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordion"
    >
      <hr class="style1" />

      <a href="#" class="dropdown-item" style="font-size: 12px;"
        >Congé d'exercice</a
      >
      <a href="#" class="dropdown-item" style="font-size: 12px;"
        >Congé dédié au évènements</a
      >
      <a href="#" class="dropdown-item" style="font-size: 12px;"
        >Prime de l'ancienneté</a
      >
      <a href="#" class="dropdown-item" style="font-size: 12px;"
        >Congé Package</a
      >
    </div>
  </div>
  <div class="card ml-1 mb-2">
    <div class="card-header ml-1 mb-2" id="headingThree">
      <h5 class="mb-0">
        <button
          class="btn btn-link collapsed"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        ></button>
        <p
          style="
            font-size: 12px;
            top: 17px;
            position: absolute;
            color: dodgerblue;
          "
        >
          Configurations Paie
        </p>
      </h5>
    </div>
    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#accordion"
    >
      <hr class="style1" />
      <a href="#" class="dropdown-item" style="font-size: 12px;"
        >Informations générales</a
      >
      <a href="#" class="dropdown-item" style="font-size: 12px;"
        >Paramètres de Paie</a
      >
      <a href="#" class="dropdown-item" style="font-size: 12px;"
        >Déductions Légales</a
      >
      <a href="#" class="dropdown-item" style="font-size: 12px;"
        >Catégories de Paie
      </a>
      <a href="#" class="dropdown-item" style="font-size: 12px;"
        >Calendrier de Paie
      </a>
    </div>
  </div>
  <div class="card ml-1 mb-2">
    <div class="card-header ml-1 mb-2" id="headingfour">
      <h5 class="mb-0">
        <button
          class="btn btn-link collapsed"
          data-toggle="collapse"
          data-target="#collapsefour"
          aria-expanded="false"
          aria-controls="collapseTwo"
        ></button>
        <p
          style="
            font-size: 12px;
            top: 17px;
            position: absolute;
            color: dodgerblue;
          "
        >
          Talent Settings
        </p>
      </h5>
    </div>
    <div
      id="collapsefour"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordion"
    >
      <hr class="style1" />
      à remplir !
    </div>
  </div>
  <div class="card ml-1 mb-2">
    <div class="card-header ml-1 mb-2" id="headingfive">
      <h5 class="mb-0">
        <button
          class="btn btn-link collapsed"
          data-toggle="collapse"
          data-target="#collapsefive"
          aria-expanded="false"
          aria-controls="collapseTwo"
        ></button>
        <p
          style="
            font-size: 12px;
            top: 17px;
            position: absolute;
            color: dodgerblue;
          "
        >
          Time Settings
        </p>
      </h5>
    </div>
    <div
      id="collapsefive"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordion"
    >
      <hr class="style1" />

      <a
        routerLink="{{ '/../companyinfo' }}"
        routerLinkActive="active"
        class="dropdown-item"
        style="font-size: 12px;"
        >Company Settings
      </a>
      <a
        routerLink="{{ '/../timegeneralsettings' }}"
        routerLinkActive="active"
        class="dropdown-item"
        style="font-size: 12px;"
        >General Settings
      </a>
      <a
        routerLink="{{ '/../workandschedule' }}"
        routerLinkActive="active"
        class="dropdown-item"
        style="font-size: 12px;"
        >Work and Schedule
      </a>
    </div>
  </div>
</div>
