<div class="container">
  <div class="col-md-9">
    <div style="width: 135%;">
      <span class="font-weight-bold text-left mt-2 text-primary"
        >General Settings
      </span>
      <span></span>
      <button
        type="button"
        class="btn btn-outline-primary btn-sm pull-right float-right ml-1 mt-1"
        data-toggle="modal"
        data-target="#myModal"
      >
        Edit
      </button>
      <hr class="style1" />
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="myModal"
      role="dialog"
      style="border-radius: 20px; margin-top: 80px;"
    >
      <div class="modal-dialog modal-lg">
        <div
          class="modal-content"
          style="
            border-color: #c0fafc;
            border-style: solid;
            border-radius: 20px;
          "
        >
          <div class="modal-header">
            <h4>Edit General Settings</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <div class="row">
                  <label
                    for="inputPassword"
                    class="col-sm-2 col-form-label ml-1"
                    style="font-size: 13px; color: rgb(180, 172, 172);"
                    >Attendance :
                  </label>
                  <div class="col-sm-9" style="margin-top: 10px;">
                    <label
                      ><input type="checkbox" value="" /> Managed by an external
                      clocking system
                    </label>
                    <label
                      ><input type="checkbox" value="" /> Managed by an external
                      clocking system
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <label
                    for="inputPassword"
                    class="col-sm-2 col-form-label ml-1"
                    style="font-size: 13px; color: rgb(180, 172, 172);"
                    >Employees breaks :
                  </label>
                  <div class="col-sm-9" style="margin-top: 10px;">
                    <label
                      ><input type="checkbox" value="" /> Managed by an external
                      clocking system
                    </label>
                    <label
                      ><input type="checkbox" value="" /> Managed by an external
                      clocking system
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="inputPassword"
                  class="col-lg-5 col-form-label"
                  style="
                    margin-left: 40px;
                    font-size: 14px;
                    color: rgb(180, 172, 172);
                  "
                >
                  Include weekends on Attendance Sheet
                </label>
                <div class="col-lg-5">
                  <div
                    class="custom-control custom-switch"
                    style="margin-top: 10px;"
                  >
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customSwitches"
                    />
                    <label
                      class="custom-control-label"
                      for="customSwitches"
                    ></label>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div>
              <div class="checkbox ml-4 mb-2 pl-4 pb-3">
                <label
                  ><input type="checkbox" value="" class="pr-4 mr-4" /> I
                  reviewed and confirmed the changes
                </label>
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary center-block ml-4 pl-4"
            >
              Submit
            </button>
            <span></span>

            <button
              type="button"
              class="btn btn-outline-primary center-block"
              data-dismiss="modal"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <p
      class="text-center text-secondary"
      style="font-size: 22px; padding-top: 20px;"
    >
      Attendance Time is managed by the third party clocking system chosen by
      the company
    </p>
  </div>
  <div>
    <form style="margin-top: 80px;">
      <div class="form-group row">
        <label
          for="inputPassword"
          class="col-sm-2 col-form-label ml-1"
          style="font-size: 14px; color: rgb(180, 172, 172);"
          >Employees breaks :
        </label>
        <div class="col-sm-5">
          <label
            ><input type="checkbox" value="" /> Managed by the third party
            clocking system
          </label>
          <p class="text-align-left text-secondary" style="font-size: 12px;">
            All data about lunch and other breaks taken by employees and
            captured by the clocks will be used and displayed by ApexiaHR
          </p>
        </div>
      </div>
      <div class="form-group row">
        <label
          for="inputPassword"
          class="col-sm-2 col-form-label"
          style="font-size: 14px; color: rgb(180, 172, 172);"
        >
        </label>
        <div class="col-sm-5">
          <label><input type="checkbox" value="" /> Managed by ApexiaHR </label>
          <p class="text-align-left text-secondary" style="font-size: 12px;">
            All data entered about lunch and other breaks at the department
            level will be used and displayed by ApexiaHR
          </p>
        </div>
      </div>

      <div class="form-group row">
        <label
          for="#"
          class="col-sm-2 col-form-label ml-1"
          style="font-size: 14px; color: rgb(180, 172, 172);"
        >
          Highlight Late arrival
        </label>
        <div class="col-sm-5">
          <div>
            <div class="custom-control custom-switch" style="margin-top: 10px;">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customSwitches"
              />
              <label class="custom-control-label" for="customSwitches">
                <select class="form-control form-control-sm">
                  <option>5 min</option>
                  <option>10 min</option>
                  <option>15 min</option>
                  <option>20 min</option>
                  <option>25 min</option>
                  <option>30 min</option>
                </select>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label
          for="#"
          class="col-sm-2 col-form-label"
          style="font-size: 14px; color: rgb(180, 172, 172);"
        >
          Max consecutive late arrivals
        </label>
        <div class="col-sm-5">
          <div class="custom-control custom-switch">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customSwitches"
            />
            <label class="custom-control-label" for="customSwitches"
              ><select class="form-control form-control-sm">
                <option>5 min</option>
                <option>10 min</option>
                <option>15 min</option>
                <option>20 min</option>
                <option>25 min</option>
                <option>30 min</option>
              </select></label
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
